<div class='page center'>
	<div class='overlay'>

		<h1>Vote</h1>
		<h2>Don't hesitate... participate!</h2>

		<button class='login' (click)='toggle()'>
			<span
				[class.visible]="!user.voter"
				[class.hidden]="user.voter">
				Login
			</span>
			<span
				[class.visible]="user.voter"
				[class.hidden]="!user.voter">
				Logout
			</span>
		</button>

		<app-voter-registration
			[class.visible]='!user.voter'
			[class.hidden]='user.voter'>
		</app-voter-registration>

		<app-ballot
			*ngFor='let ballot of ballots'
			[ballot]='ballot'
			[class.visible]='user.voter'
			[class.hidden]='!user.voter'>
			<p>...</p>
		</app-ballot>

	</div>
</div>