#logo {
	background: url('../../assets/images/activoter-logo.png');
	background-size: cover;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	opacity: 0.9;
	&:hover {
		background: url('../../assets/images/activoter-logo-color.png');
		background-size: cover;
		opacity: 1;
	}
}