$primary: #4ad;
$primary_transparent: rgba(68, 170, 221, 0.5);

$primary_blue_light: rgb(41, 171, 226);
$primary_blue_light_transparent: rgba(41, 171, 226, 0.5);

$primary_blue_dark: rgb(0, 113, 188);
$primary_blue_dark_transparent: rgba(0, 113, 188, 0.5);

$primary_red_light: rgb(237, 28, 36);
$primary_red_light_transparent: rgba(237, 28, 36, 0.5);

$primary_red_dark: rgb(193, 39, 45);
$primary_red_dark_transparent: rgba(193, 39, 45, 0.5);

$nav_size: 200px;
$body_size: calc(100% - 200px);